body{
  margin: 0;
  padding: 0;
  background-color: #efd6a5;
}
.btn1{
  width: 100px;
  padding: 6px;
  margin: 15px 5px;
}
.btn2{
  width: 100px;
  padding: 6px;
  margin: 0px 5px 15px 5px;;
}
.container{
  text-align: center;
  margin: 0 auto;
  width: 640px;
}
.grid{
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  border: 1px solid black;
}
.grid-item{
  border: 1px solid black;
}
